<div class="search">
    <input type="text" name="search" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" >
</div>
    

  



<mat-accordion *ngFor="let contact of dataSource | filter:searchKey">
   
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
      {{contact.name | uppercase}}
   
     
        </mat-panel-title>
        <br>
        <mat-panel-description>
          
               
            {{contact.city | lowercase}}   
  
        </mat-panel-description>
      </mat-expansion-panel-header>
      Name:     {{contact.name }} 
      <button mat-button (click)="delete(contact.$key)" >
        Delete
      </button>
      <br>
      Mobile: {{contact.mobile}}
      <br>
     FatherName: {{contact.fatherName}}
     <br>
     Remarks: {{contact.remark}}
     
    
     
<br>

    </mat-expansion-panel>
  </mat-accordion>